:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  align-self: flex-start;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.button:hover {
  border-color: #c4c4c4;
  color: #c4c4c4;
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.to-bottom {
  position: absolute;
  bottom: 2rem;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
}

section {
  padding: 1rem;
  max-height: calc(100vh - 2rem);
}

/* Generic Styles */

.relative {
  position: relative;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.scrollable {
  overflow-y: auto;
}

.details img {
  min-width: 100%;
  max-height: 300px;
  min-height: 200px;
  background: #444;
  object-fit: cover;
}

.details-info {
  position: relative;
  padding: 1rem;
}
.details-info a {
  position: absolute;
  top: 1.5rem;
  right: 20px;
}

.week-grid > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.week-grid {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.week-day {
  display: flex;
  position: relative;
  padding: 1rem;
  color: inherit;
  border: 1px solid transparent;
  margin: 0.5rem;
}
.week-day:hover {
  cursor: pointer;
  color: inherit;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.week-day img {
  position: relative;
  margin-right: 1rem;
  min-width: 50px;
  min-height: 50px;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}
.week-day img::before {
  content: "+";
  background-color: #1a1a1a;
  color: white;
  font-size: 4rem;
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
}

.week-day h3,
p {
  margin: 0;
}

.section-header {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 900;
}
.section-subheader {
  margin-top: -1rem;
  font-size: 2rem;
  font-weight: 400;
}

.search-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr 50px;
  align-items: start;
}

.search {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0.2rem 0.5rem;
  border: 2px solid black;
  border-radius: 8px;
}

.search-icon {
  content: url("../public/search.svg");
  display: flex;
  opacity: 0.6;
}

.search-bar input {
  border-radius: 5px;
  border: 2px solid transparent;
  width: 100%;
  padding: 0.5em;
}

.search-bar input:focus-visible {
  outline: none !important;
}

.search-button {
  display: flex;
  align-items: center;
}

.search-button i {
  filter: invert(100%);
  margin-right: 1rem;
  opacity: 1;
}

.meal-date {
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  float: right;
  font-weight: 900;
}
.suggestions {
}

.suggestions-list {
  max-width: 70vw;
  overflow-x: auto;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  max-height: calc(100% - 1.25rem);
}

.search-results {
  max-height: 50vh;
  overflow-y: auto;
}

.card {
  border: 1px solid #aaa;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 200px;
  min-height: 80px;
}

.card > img,
.selection img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.search-result {
  display: flex;
  padding: 1rem;
  border: 1px solid transparent;
}
.search-result img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  background: #1a1a1a;
}

.selected {
  position: relative;
  border: 1px solid black;
}
.selected::after {
  content: "selected";
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: xx-small;
}

.selection img {
}

@media screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr 3fr;
  }
}
